<h1>Listing arduinos</h1>

<table>
  <tr>
  </tr>

<% @arduinos.each do |arduino| %>
  <tr>
    <td><%= link_to 'Show', arduino %></td>
    <td><%= link_to 'Edit', edit_arduino_path(arduino) %></td>
    <td><%= link_to 'Destroy', arduino, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New arduino', new_arduino_path %>